<p style="color: green"><%= notice %></p>
<div class="p-3 mb-2 bg-black text-white">

<div style="background-image: url('https://www.quelchoix.fr/wp-content/uploads/sites/59/2020/06/garage-automobile-920x425.jpg'); opacity: 0.3; heigth:900px; max-width:100%"> </div>
<h1 class="text-center" style="font-size: 70px;">Le Garage étrange</h1>


<h2 class="text-center">
  Bienvenue. Vous venez d'atterrir dans le garage de deux designers complètement fous aux idées aussi farfelus les une que les autres. Admirer nos superbes réalisations, qui peut être un jour, pourrais bien exister dans notre réalité.
</h2>


<h1 class="text-center" style="font-size: 50px;">Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
