<p style="color: green"><%= notice %></p>
<div class="p-3 mb-2 bg-black text-white">



<h1 class="text-center" style="font-size: 70px; opacity:100%">Le Garage étrange</h1>

<h2 class="text-center" style="opacity:100%">
  !!! Bienvenue !!!
</h2>

<h2 class="text-center" style="opacity:100%">
  Vous venez d'atterrir dans le garage de deux designers complètement fous aux idées aussi farfelus les une que les autres. Admirer nos superbes réalisations, qui peut être un jour, pourrais bien exister dans notre réalité.
</h2>

<<<<<<< HEAD
=======

>>>>>>> 84a1f4e121d93b60cf9ac38a163ea662b0a5f9a1
<h1 class="text-center" style="font-size: 50px;">Articles</h1>
</div>


<div class="row justify-content-center">
  <div class="col-7">
    <div id="articles">
    <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
    <% end %>
    </div>
  </div>
</div>


<button type="button" class="btn btn-warning; link-dark"><%= link_to "New article", new_article_path %></button>


